/* src/app/styles/Home.module.css */
@import './animations.css';


.gradientLine {
  width: 100%;
  height: 20px; /* Ajusta la altura según sea necesario */
  background: linear-gradient(to top, 
                              rgba(43, 44, 58, 1) 0%, 
                              rgba(43, 44, 58, 0.75) 25%, 
                              rgba(43, 44, 58, 0.5) 50%, 
                              rgba(43, 44, 58, 0.25) 75%, 
                              rgba(229, 229, 229, 0) 100%);
  margin: 0; 
  padding: 0; 
}
/* Sección de introducción */
.welcomeSection {
  background-color: #f8f3ea; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top:-100px
}

.welcomeIntro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 40px;
  color: #2b2c3a;
 
}


.headerContainer {
  display: flex;
  align-items: center;
  position: relative;
}


.welcomeIntro h1 {
  font-family: 'Montserrat';
  font-size: 100px;
  width: 70%;
  font-weight: 500;
  margin-bottom: 120px;


}


.line { 
  position: relative;
  flex-grow: 1;
  height: 1px;
  background-color: #2B2C3A;
  margin-left: -30px;
  margin-top: 10.5%;

  width: 935px;
}
.welcomeIntro p {
  font-family: 'Roboto Mono';
  font-size: 25px;
  font-weight: 300;
  color: #2B2C3A;
  margin-bottom: -25px;


}


/* Estilos para la animación */
.introSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #050706;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.logoContainer {
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

.expandLine .line {
  width: 100%;
}

.hideWelcome {
  display: none;
}

.expandedLine {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: white;
  z-index: 3;
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.introSection .line {
  animation: expand 1s forwards;
}

body.whiteBackground {
  background-color: #ffffff;
}

/* Estilos para la sección de telón */
.curtainSection {
  background-color: #2A2D39;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.curtainLine {
  position: absolute;
  width: 0.5px;
  height: 100vh;
  background-color: #ffffff;
  transition: width 0.5s ease;
}

.expandCurtainLine {
  width: 100%;
}






.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 100px 0px;
  margin-top: 0px;
  width: 100%;
}




/* COMMUNITY SECTION */
.community {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  color: #E5E5E5;
  padding: 100px 0px;
  position: relative;
  z-index: 1;
  text-align: left;
  margin-top: -100px;
}


.community .content {
  max-width: 70%;
  padding-left: 80px;
}

.community h1 {
  font-size: 86px;
  margin-bottom: 20px;
  color: #E5E5E5;
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: left;
}

.community p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-family: 'Montserrat';
  text-align: left;
}

.community button {
  background-color: #ffffff;
  font-family: 'Montserrat';
  color: #2B2C3A;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 80px;
  width: 194px;
  height: 67px;
  font-weight: bold;
  margin-top: 50px;
  align-self: flex-start;
}

.community button:hover {
  background-color: #99979778;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.svgcommunity {
  margin-top: -10%;

}

.communityelipse {

  width: 100%;
  max-width: 800px;
  margin-top: 0px;
  right: 0%;
}



/* Responsive Styles */
@media (max-width: 768px) {
  .main {
    margin-top: 0px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  .community {
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;

  }

  .community .content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 50px;
    padding-right: 20px;
  }

  .community h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #E5E5E5;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;
  }

  .community p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: lighter;
    font-family: 'Montserrat';
    text-align: left;
  }


  .community button {
    background-color: #ffffff;
    font-family: 'Montserrat';
    color: #2B2C3A;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 80px;
    width: 112px;
    height: 41px;
    font-weight: bold;
    margin-top: 50px;
  }

  .community .content button {
    align-self: flex-start;
  }
  .line { 
  display: none; 
  }



.svgcommunity {
  margin-top: -10%;

}

.communityelipse {

  width: 100%;
  max-width: 300px;
  margin-top: 0px;
 margin-left: 40%;
}


.welcomeIntro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 40px;
  color: #2b2c3a;
 
}

.welcomeIntro h1 {
  font-family: 'Montserrat';
  font-size: 75px;
  width: 100%;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: -50px;

}

.welcomeIntro p {
display: none;
}
}

@media (max-width: 400px) {

  .line { 
    position: relative;
    flex-grow: 1;
    height: 1px;
    background-color: #2B2C3A;
    margin-left: -10px;
    margin-top: 60%;
  
    width: 40px;
  }

  .main {
    margin-top: 0px;
  }


.community .content{
  padding-left: 40px;
}

/* Sección de introducción */


.welcomeIntro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 40px;
  color: #2b2c3a;
 
}

.welcomeIntro h1 {
  font-family: 'Montserrat';
  font-size: 64px;
  width: 70%;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: -50px;

}

.welcomeIntro p {
display: none;
}



} 
@media (min-width: 1900px) {

.communityelipse {

  width: 100%;
  max-width: 800px;
  margin-top: 10%;
 
}


.community .content {
  max-width: 100%;
  padding-left: 120px;
  margin-right: 300px;
}
.line { 
  position: relative;
  flex-grow: 1;
  height: 1px;
  background-color: #2B2C3A;
  margin-left: 0px;
  margin-top: 6.5%;
  margin-right: 31.55%;

  width: 1900px;
}}

