
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main{
  flex: 1;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0px 40px;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}
.header.navDark {
  background-color: transparent;
  color: #e5e5e5;
}
.logo img {
  height: 40px; 
  transition: filter 0.3s ease-in-out;
}

.nav {
  display: flex;
  gap: 70px; 

}


.navItem {
  
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace; 
  font-weight: 300; 
  display: flex;
  align-items: center;
}

.navItem:hover {
   
    
  font-weight: 500;

}



.searchIcon, .seacrhText{
  height: 20px; 
  transition: opacity 0.3s ease-in-out; 
}

.menuToggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menuToggle .bar {
  width: 25px;
  height: 3px;
  background-color: #2b2c3a;
  margin: 4px 0;
  transition: background-color 0.3s ease-in-out;
}

.main {
  flex: 1;
  padding-top: 100px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a2e;
  color: white;
}

.navLight .navItem, .navLight .searchText {
  color: #2b2c3a;
}
.navLight .logo img, .navLight .menuToggle .bar {
  filter: none;
}
.navDark .navItem, .navDark .searchText {
  color: #e5e5e5;
}
.navDark .logo img, .navDark .menuToggle .bar {
  filter: invert(0);
}
.nav.open {
  display: flex;
  background-color: #e5e5e5;
  top: 0;
  padding: 60px 40px;
}
.nav.open .navItem {
  color: #e5e5e5;
}
.header.navScrolled {
  background-color: rgba(169, 169, 169, 0.5); 
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .header {
    padding: 20px;
  }

  .nav {
    display: none;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    text-align: right;
    padding: 20px;
    gap: 10px;
  }

  .menuToggle {
    display: flex;
  }

  .navItem {
    font-size: 34px;
    justify-content: space-between;
    margin-top: 30px;
  }
  

  .nav.open {
    background-color: #2b2c3a;
  }
  .logo {
    z-index: 1000;
  }
  .closeIcon {
    z-index: 1000;
  }
  .searchText {
    display: block;
    font-size: 34px;
    margin-top: 30px;
    color: #e5e5e5;
  }
  .searchIcon {
    display: none;
  }
  .header.navScrolled {
    background-color: rgba(169, 169, 169, 0.3); 
  }

}


.submenu {
  background-color: #2b2c3a;
  padding: 20px;
  position: absolute;
  top: 50px; /* Ajusta esta posición */
  left: 53%; /* Ajusta esta posición */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  z-index: 1000;
  transform: translate(-50%, 10px); /* Ajusta según sea necesario */
}


.submenuItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.submenuItem label {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #e5e5e5;
  margin-left: 10px;
}


.submenuItem input[type="checkbox"] {
  display: none;
}

.submenuItem input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.submenuItem input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: #2b2c3a;
}

.submenuItem input[type="checkbox"]:checked + label::before {
  background-color: #ffffff;
  border-color: #ffffff;
}

.submenuItem input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  width: 8px;
  height: 8px;
  background-color: #2b2c3a; 
  border-radius: 50%;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(180deg);
}

.hidden {
  opacity: 0;
 
  transition: opacity 0.5s ease-out;
}

.visible {
 
  opacity: 1;
  transition: opacity 0.5s ease-out; 



}


.aboutFooter {
  background-color: #000000; 
}