.learnSection {
    display: flex;
    width: 100%;
    background-color: #2b2c3a;
    padding: 100px 0;
  position: relative;
 
  }
  
  .leftSection {
    flex: 1;
    position: relative;
   
  }
  .background {
    margin-top: -8%;
    margin-left: -5%;

  }
  
  .learnelipse {
  
    width: 100%;
    max-width: 700px;
    margin-top: 0px;
    
  }
  .rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   width: 50%;
   margin-bottom: 0;
   
  }
  
  .contentWrapper {
    width: 100%;
  
  }
  
  .textContent {
    text-align: left;
   width: 100%;
   margin-bottom: 20px;
  }
  .textContent h1 {
    font-family: 'Montserrat';
    font-size: 86px;
    font-weight: 500;
  }
  
  .textContent p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  

.swiperContainer {
    width: 100%;
    display: flex;
    justify-content: center;

}
  
  .swiperSlide {
    display: flex;
    justify-content: center;
    cursor: pointer; 
  
  }
  .card {
    background-image: url('/images/cards-gradients.png'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en la tarjeta */
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px; 
    width: 275px;
    height: 300px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }
  .card h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 20px;
  }
  .card p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
  }


  .dash {
    display: block;
    width: 10px;
    height: 2px; 
    background-color: #e5e5e5; 
    margin-bottom:  -15px; 
  }


.buttonWrapper {
    position: absolute;
    bottom: 280px;
    right: 20px;
   
  }
  

  .learnMore {
    display: flex;
    align-items: center;
    color: grey;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
   text-decoration: underline;
    border: none;
    background: none;
    position: relative;
  }
  
  .learnMore:hover .arrows {
    animation: moveArrows 1s infinite;
  }
  
  .arrows {
    margin-right: 10px;
    position: absolute;
    top: -20px;
    right: 0%;
  }
  
  @keyframes moveArrows {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @media (max-width: 768px) {
    .learnSection {
        flex-direction: column;
        align-items: center;
        padding: 100px 0; 

      }
     
      .background {
        margin-top: 70%;
        margin-left: 20%;
      width: 100%;
      }
      
      .learnelipse {
        width: 290px;
      }
      .rightSection {
        width: 100%;
        align-items: center;
      }
    
      .contentWrapper {
        text-align: left;
        width: 130%;
       
      }
    
      .textContent {
        margin-bottom: 10px;
        padding: 0;
        width: 100%;
        margin-top: -60px;
 
      }
    
      .textContent h1 {
        font-size: 40px !important;
        margin-left: 10px;
      }
    
      .textContent p {
        font-size: 18px;
        margin: 0 10px;
        margin-bottom: 10px;
      }
    
    
      .card {
   
       
        margin-bottom: 10px;
        height: 300px;
      
      }
    
      .buttonWrapper {
        bottom: 50px;
        right: 20px;
      }

      .learnMore{
        font-size: 16px;
      }
  }


  @media (max-width: 400px ){
    .learnSection {
      flex-direction: column;
      align-items: center;
      padding: 100px 0; 
     margin-bottom: 38px;
    }
  
  
       
    .background {
      margin-top: 100%;
      margin-left: 20%;
    width: 100%;
    }
    
    .learnelipse {
    
     
      width: 300px;
     
      
    }

    .contentWrapper {
      text-align: left;
      width: 140%;
     
    }
  
    .textContent {
  
      padding: 0;
      width: 100%;
      margin-top: 0px;

    }
  
    .textContent h1 {
      font-size: 40px !important;
      margin-left: 10px;
    }
  
    .textContent p {
      font-size: 18px;
      margin: 0 10px;
      margin-bottom: 20px;
    }
  
  
    .card {
 
      height: auto;
      margin-bottom: 0px;

      height: 300px; 
    
    }
  
    .buttonWrapper {
    
      right: 20px;
    }

    .learnMore{
      font-size: 16px;
    }
  }

  @media (max-width: 1024px) {
    .swiperContainer {
      width: 100%;
    }
  
    .swiper-slide {
      flex: 0 0 50%; 
    }
  
    .textContent h1 {
      font-size: 84px;
    }
    .background {
        position: absolute;
        top:10%;
        left: -27%;
        width:55%;
        height: 85%;
     
    
     
      }
      .rightSection{
        width: 60%;
      }
      .buttonWrapper {
        bottom: 0px;
        right: 20px;
      }

    }


    @media (min-width: 1900px)
    {
      .buttonWrapper {
        bottom: 80px;
        right: 20px;
      } 
    }