.partnerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, #050706 0%, #2A2D39 100%);
    padding: 10px 40px;
    color: #E5E5E5;
   overflow: hidden;
  }
  
  .partnerSection .content {
    max-width: 800px;
    margin-top: -100px;
  }
  
  .partnerSection h1 {
    font-size: 86px;
    margin-bottom: 60px;
 
    font-weight: 400;
  
    font-family: 'Montserrat';
  }
  
  .partnerSection p {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight:lighter;
    margin-bottom: 30px;
    width: 500px;
 

  }
  
  .partnerSection .contactButton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration:none;
    border-radius: 20px;
    color: #2B2C3A;
   
    background-color: #ffffff; 
    font-family: 'Roboto Mono';
    font-weight: lighter;
    font-size: 20px;

    transition: background-color 0.3s, color 0.3s;
  }
  
  .partnerSection .contactButton:hover {
    
  
    background-color: #99979778;
    color: #ffffff;
  
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  
  
  .partnerSection .svgContainer {
    margin-top: 0px;
  }
  
  .partnerSection .semicircles {
 
    width: 800px;
    margin-top: 20px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .partnerSection {
      padding: 20px 40px;

      align-items: center;
      text-align: center;
    }
    .partnerSection .content {
  
      margin-top: 0px;
    }
    
    .partnerSection h1 {
      font-size: 40px;
      margin-top:0px;
      margin-bottom: 10px;
      text-align: left;
    }
  
    .partnerSection p {
      font-size: 18px;
     width: 300px;
     text-align: left;
    }
  
    .partnerSection .contactButton {
      padding: 8px 1px;
      font-size: 16px;
      margin:0px auto;
      margin-top: 80px;
    
    }


  
  .partnerSection .semicircles {
   max-width: 500px;
   margin-top: -100px;


  }
  
  }
  @media (max-width: 400px){
    .partnerSection {
      padding: 20px 40px;
      margin-top: -40px;
      align-items: center;
      text-align: center;
    }
    .partnerSection .content {
  
      margin-top: 0px;
    }
    

    .partnerSection h1 {
      font-size: 40px;
      margin-top:0px;
      text-align: left;
    }

    .partnerSection .contactButton {
      padding: 8px 1px;
      font-size: 16px;
      margin: 20px auto;
   
      margin-top: 80px;
    
    }
    .partnerSection .semicircles {
      max-width: 450px;
      margin-top: -120px;
     margin-left: 0px ;
   
     }
  }