.researchPage {
    padding: 30px 80px;
    text-align: center;
    background: linear-gradient(180deg, #050706 0%, #2A2D39 100%);
    margin-top: -100px;
    min-height: 100vh;
  }
  
  .header {
    margin-bottom: 40px;
    align-items: center;
  
  }
  
  .header h1 {
    font-size: 80px;
    color: #F1EAE1;
    font-family: 'Montserrat';
    font-weight: 400;
   line-height: 1;
   margin-top: 100px;

  }
  
  .header p {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #6E8391;

  }
  
  .researchLink {
    color: #F1EAE1;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto Mono';
    font-size: 18px;
  }
  
  
  .cardsContainer {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 10px;
  
   
  }
  
  .card {
    background-image: url('/images/cards-gradients.png'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en la tarjeta */
    background-repeat: no-repeat;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px; 
    width: 275px;
    height: 300px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card h2 {
    font-size: 26px ;
    color: #F1EAE1;
    margin-bottom: 50px ;
    position: absolute;
    top: -10px;
    left: 20px;
 
    font-weight: lighter;


  }



  .categoryIcon {
    width: 50px  ;
    height: 50px ;
    margin: 10px auto;
    display: block;
    position: absolute;
    top:50%;
    left: 50% ;
    transform: translate(-50%, -50%);
  }
  
  .arrow {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    fill: #a3c4f3;
    align-items: end;

  }
  

 
  @media (max-width: 768px) {

    .researchPage {
        padding: 100px 40px;
        text-align: center;
        background: linear-gradient(180deg, #050706 0%, #2A2D39 100%);
        margin-top: -100px;
        min-height: 100vh;
      } 
  .header {
    margin-bottom: 40px;
    align-items: flex-start;
  }
  
  .header h1 {
    font-size: 30px;
    color: #F1EAE1;
    font-family: 'Montserrat';
    font-weight: 400;
   line-height: 1;
   text-align: left;

  }
  
  .header p {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #6E8391;
    text-align: left;
  }
    .cardsContainer {
      justify-content: center;
    }
  
  
    .card h2 {
      font-size: 24px;
      margin-bottom: 40px;
      top: 0;
      left: 10%;
   
    }
  
    .categoryIcon {
      width: 20px;
      height: 20px;
    
    }
  
    .arrow {
      width: 25px;
      height: 25px;
    }
  }
  
  /* Media query para pantallas muy pequeñas */
  @media (max-width: 480px) {
 
  
    .card h2 {
      font-size: 24px;
      left: 10%;

     
    
    }
  
    .categoryIcon  {
   
      width: 20px ;
      height: 20px ;
  
    
    }
  
    .arrow {
      width: 20px;
      height: 20px;
    }
  
    .header h1 {
      font-size: 25px;
      color: #F1EAE1;
      font-family: 'Montserrat';
      font-weight: 400;
     line-height: 1;
     text-align: center;
     margin-top: 0;
  
    }
    
    .header p {
      font-family: 'Montserrat';
      font-size: 18px;
      color: #6E8391;
      text-align: center;
      width: 100%;
    }
    .researchLink{
      font-size: 16px;
    }
  } 