

/* COMMUNITY SECTION */
.team {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(180deg, #050706 0%, #2A2D39 100%);
    color: #E5E5E5;
    padding: 20px 0px;
    position: relative;
    z-index: 1;
    text-align: left;
    margin-top: -40px;
  
  }
  
  
  .team .content {

    padding-left: 80px;
    margin-top: 40px;
    width: 45%;
    margin-right: 300px;
  }
  
  .team h1 {
    font-size: 86px;
    margin-bottom: 20px;
    color: #E5E5E5;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;

  }
  
  .team p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
    font-family: 'Montserrat';
    text-align: left;
  }
  
  .team button {
    background-color: #ffffff;
    font-family: 'Montserrat';
    color: #2B2C3A;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 80px;
    width: 140px;
    height: 67px;
    font-weight: bold;
    margin-top: 50px;
    align-self: flex-start;
  }
  
  .team button:hover {
    background-color: #99979778;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .teamsvg {
    margin-top: -10%;
    margin-bottom: -30px;
  }
  
  .elipseTeam {
  
    width: 100%;
    max-width:500px;
    margin-top: 0px;
 
  }
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
   
  
    .team {
      flex-direction: column;
      text-align: center;
      padding: 60px 10px;
     margin-top: 0px;
    
    
    }
  
    .team .content {
   width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding-left: 40px;
      margin-top: 0px;
      padding-right: 60px;
     margin-bottom: 300px;
   
    }
  
  
    .team h1 {
      font-size: 40px;
      margin-bottom: 20px;
      color: #E5E5E5;
      font-family: 'Montserrat';
      font-weight: 500;
      text-align: left;
    }
  
    .team p {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: lighter;
      font-family: 'Montserrat';
      text-align: left;

    }
  
  
    .team button {
      background-color: #ffffff;
      font-family: 'Montserrat';
      color: #2B2C3A;
      border: none;
      padding: 10px 20px;
      font-size: 15px;
      cursor: pointer;
      border-radius: 80px;
      width: 112px;
      height: 41px;
      font-weight: bold;
      margin-top: 50px;
    }
  
    .team .content button {
      align-self: flex-start;
    }
   
    .teamsvg {
     display: none;
  
    
    }
    
    .elipseTeam {
    
      width: 100%;
      max-width:300px;
   
    }
     
  

  
  }

  @media (max-width: 400px){

    .team .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding-left: 40px;
      margin-top: 0;
      padding-right: 0px;
     
   
       }
.team {
      flex-direction: column;
      text-align: center;
      padding: 100px 10px;
     margin-top: 0;
    }



  }
  @media (min-width: 1900px ) {

    .team p {
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: lighter;
      font-family: 'Montserrat';
      text-align: left;
      width: 100%;
    
  }  
  .elipseTeam {
  
    width: 100%;
    max-width: 800px;
    margin-top: 70%;

  }

  .team .content {

    padding-left: 90px;
    margin-top: 60px;
    width: 100%;
    margin-right: 300px;
  }
}