/* COMMUNITY SECTION */
.team {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #E5E5E5;

  padding:  0px;
  padding-bottom: 100px;
 position: relative;

  z-index: 1;
  text-align: left;
  background: linear-gradient(to top, #050706, #2b2c3a);
  overflow: hidden; 
}

.team .content {
  padding-left: 80px;
  margin-top: 40px;
  width: 100%;

}

.team h1 {
  font-size: 86px;
  margin-bottom: 20px;
  color: #E5E5E5;
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: left;
 

}

.team p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: lighter;
  font-family: 'Montserrat';
  text-align: left;
  margin-top: 0px;
  max-width: 650px;
}

.btn  {
  margin-top: 40px ;
  background-color: #ffffff;
  font-family: 'Montserrat';
  color: #2B2C3A;
  border: none;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 80px;
  width: 200px;
  height: 50px;
  font-weight: bold;

  align-self: flex-start;
}

.btn:hover {
  background-color: #99979778;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.teamsvg {
  position: relative;
  margin-top: -10px;
 

}

.elipseTeam {

  width: 500px;
  position: absolute;
  top: 0%;
  z-index: -1; 
  right: 0;
}



.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 850px; 
  margin-right: 150px;


  z-index: 1;
  perspective: 1000px; 

}

.carouselItem {
  width: 180px;
  height: 180px;
  margin: 20px 0;
  opacity: 0.5;
  transform: scale(0.9) rotateX(10deg);
  filter: blur(2px);
  transition: opacity 1s, transform 1s, filter 1s;
  z-index: 10;
}

.carouselItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.carouselItem.active {
  opacity: 1;
  transform: scale(1) rotateX(0); /* Imagen activa sin rotación para resaltar */
  filter: blur(0);
}

@keyframes moveUp {
  0% { transform: translateY(20%); } /* Empieza un poco más arriba */
  100% { transform: translateY(-80%); } /* Termina antes de salir del contenedor */
}

.carousel {
  animation: moveUp 30s linear infinite; /* Ajuste continuo */
}



@media (max-width: 768px) {
  .team{
    padding: 60px 0;
  }

  .team .content {

    padding-left: 50px;
    margin-top: 40px;
    width: 100%;
    margin-right: 30px;
  
  }
  .team h1 {
    font-size: 40px;
  }
  .team p {
    font-size: 18px;
  }
  .teamsvg{
    display: none;
  }
  .btn{
    font-size: 14px;
    width: 180px;
    height: 40px;
  }}

  @media (max-width: 400px) {

    .team .content {
  
      padding-left: 40px;
      margin-top: 0px;
      width: 100%;
      margin-right: 20px;
    
    }
    .team h1 {
      font-size: 40px;
    }
    .team p {
      font-size: 18px;
    }
    .teamsvg{
      display: none;
    }
    .btn{
      font-size: 14px;
    }
  }


  @media (min-width:769px) and (max-width: 1300px) {




    .team .content {
  
      padding-left: 40px;
      margin-top: 150px;
      width: 60%;
      margin-right: 20px;
    
    }
     .teamsvg {
      margin-top: 10%;
      margin-bottom: 0px;
    }
    
    .elipseTeam {
      width: 100%;
      max-width:600px;
      margin-top: 0px;
    
    } 
  }