.opSection {
    width: 100%;
    min-height: 100vh;
    background-color: #2A2D39;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 120px;
    margin-top: -150px;
  }
  
.headerContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-self: flex-start;
  }
  .headerContainer h1 {
    font-size: 70px;
    font-family: 'Montserrat';
    font-weight: 500;

  }

  .arrow {
    margin-right: 1px;
    margin-top: 50px;
    width: 100px; 
    height: auto; 
}

  
  .dot {
    color: #F1EAE1;
  }
  
  .line {
    flex-grow: 1;
    width:800px;
    height: 0.5px;
    background-color: #F1EAE1;
    margin-left: 0px;
    margin-top: 45px;
  }


  .columnsContainer {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
  
  .column {
    flex: 1;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .sectionTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .linkList {
    list-style: none;
    padding: 0;
  }
  
  .linkItem {
    margin-bottom: 10px;
  }
  
  .linkIcon {
    margin-right: 5px;
  }
  
  .linkText {
    text-decoration: none;
    color: #6E8391;
    font-weight: bold;
  }
  
  .linkText:hover {
    color: #F1EAE1;
  }

  .moreResources {
    margin-top: 4%;
   
  }
  
  .moreResources .sectionTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .divider {
    border: 0;
    height: 1px;
    background: #F1EAE1;
    margin: 30px 0;
  }



  /* Mobile Styles */
@media (max-width: 768px) {
    .opSection {
      padding: 50px 20px;
      margin-top: 0;
    }
  
    .headerContainer h1 {
      font-size: 40px;
    }
  
    .arrow {
      margin-right: 10px;
      margin-top: 4cqb;
      width: 50px; 
      height: auto; 
    }
  
    .line {
      width: 100%;
      margin-top: 20px;
      display: none;
    }
  
    .columnsContainer {
      flex-direction: column;
      gap: 20px;
    }
  
    .column {
      width: 100%;
    }
  
    .moreResources {
      margin-top: 10%;
    }
  }
  
  /* Tablet Styles */
  @media (max-width: 1024px) {
    .opSection {
      padding: 100px 40px;
    }
  
    .headerContainer h1 {
      font-size: 50px;
    }
  
    .arrow {
      width: 70px;
    }
  
    .line {
        display: none;
      width: 80%;
    }
  
    .columnsContainer {
      gap: 30px;
    }
  
    .moreResources {
      margin-top: 5%;
    }
  }
  