.articleContainer {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    color: #F1EAE1;
    background-color: #2A2D39;
  }

  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Montserrat';
  }
  
  .section p {
    font-size: 18px;
    line-height: 1.4;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .section h1 {
    font-size: 30px;
  }

  .black {
    font-weight: bold !important;
    font-size: 20px !important;
    margin-top: 50px !important;
  }

  .list {
    list-style-type: disc;
    padding-left: 20px;
   
  }
  
  .list li {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  .list li strong {
    font-weight: bold;
  }


.quoteContainer {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: solid 1px #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.quote {
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
  color: #F1EAE1;
}



.benefitsImage {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolsSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: transparent;
}

.toolCard {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #2A2D39;
}

.toolTitle {
  font-weight: bold !important;
  margin-bottom: 10px;
  color: #2A2D39;
}

.toolDescription {
  margin: 0;
  font-size: 1em;
}

.toolLink {
  color: #2A2D39;
  text-decoration: none;

  font-weight: bold;
}

.toolLink:hover {
  text-decoration: underline;
}


.toolCard:nth-child(1) {
  background-color: #f9e6e6; /* Color lila */
}

.toolCard:nth-child(2) {
  background-color: #F1EAE1; /* Color verde claro */
}

.toolCard:nth-child(3) {
  background-color: #f9e6e6; /* Color rosa claro */
}

.toolCard:nth-child(4) {
  background-color: #F1EAE1; /* Color gris claro */
}


.a {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}


  @media (max-width: 768px) {
    .header h1 {
      font-size: 2rem;
    }
  
    .header p,
    .section p {
      font-size: 1rem;
    }
  
    .section h2 {
      font-size: 1.5rem;
    }

  .quoteContainer {
    padding: 15px;
  }

  .quote {
    font-size: 1em;
  }

  .benefitsImage {
    max-width: 100%;
  }
  .toolsSection {
    padding: 10px;
  }

  .toolCard {
    padding: 15px;
  }

  .toolTitle {
    font-size: 1.2em;
  }

  .toolDescription {
    font-size: 0.9em;
  }
  }



 .subtitle {
  font-size: 25px !important;
 }

 .decentraland {
  font-size: 48px !important;
 }