/* src/components/SideIcons.module.css */
.sideIcons {
    position: fixed;
    bottom: 40px;
    left: 40px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iconContainer {
    background-color: transparent;
 
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.iconContainer:hover {

    transform: translateY(-3px);
}

.icon {
    width: 50px;
    height: 50px;

}

@media (max-width: 768px) {
    .sideIcons{
        display: none;
    }
  
  
    }
